@model CurrentUserViewModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<a class="nav-link">
    <span>
        <span class="user-stats">User exp: </span>
        <span class="user-details">@Model.UserPoints</span>
        <span class="user-stats">User rank:  </span>
        <span class="user-details">@Model.UserRank</span>
        @if (Model.UserRole != null)
        {

            <span class="user-stats">User type:</span>
            <span class="user-details"> @Model.UserRole</span>
        }
    </span>
</a>
