@model IEnumerable<IItemThumbnail>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            @foreach (var item in Model)
            {
                <h5 class="pull-right">@item.Name</h5>
                <h5>
                    <a asp-controller="Home"
                       asp-action="Index">
                        Details
                    </a>
                </h5>
                <p>@item.Details</p>
            }
        </div>
    </div>
</div>

