@model IEnumerable<IItemThumbnail>
@*@for (int i = 0; i < (Model.Count() / 3); i++)
    {*@

<div class="row" style="justify-content:center;">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card" style="background-color: #25005038; height:18rem; width:50%; margin:auto; margin-bottom: 1rem;
                                    border: 5px solid #ff9800">
                <h5 class="card-title">@item.Name</h5>
                <div class="card-body">
                    <p class="card-text">@item.Details</p>
                    <h5 class="card-text" style="text-align: center; color:#9700f3">
                        <a asp-controller="Home"
                           asp-action="Index">
                            Quest Points: 234
                        </a>
                    </h5>
                    <h5 class="card-text" style="text-align: center;">
                        <a asp-controller="Home"
                           asp-action="Index">
                            Details
                        </a>
                    </h5>
                    <h5 class="card-text" style="text-align: center; color:yellow;">
                        <a asp-controller="Home"
                           asp-action="Index">
                            Accept
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>



