@model IEnumerable<IItemThumbnail>

<div style="box-sizing: content-box;">
    @for (int i = 0; i < (Model.Count() / 3); i++)
    {

        <div class="row" style="justify-content:center;">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="card" style="max-width: 45%; background-color: inherit; margin:auto;">
                        <div class="img-wrapper">
                            <img class="card-img-top img-fluid>" src="~/img/quest_cards/test-card.png">
                            <div class="card-img-overlay">
                                <h5 class="card-title" style="font-size: 1.2vw;">@item.Name</h5>
                                <div class="card-body">
                                    <p class="card-text" style="line-height:normal; margin-bottom:0; font-size: 1vw;">@item.Details</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h5 class="card-text" style="text-align: center;">
                        <a asp-controller="Home"
                           asp-action="Index">
                            Details
                        </a>
                    </h5>
                    <h5 class="card-text" style="text-align: center; color:yellow;">
                        <a asp-controller="Home"
                           asp-action="Index">
                            Accept
                        </a>
                    </h5>
                </div>
            }
        </div>
    }
</div>

