@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (!SignInManager.IsSignedIn(User))
{

    <div class="header-right-btn f-right d-none d-lg-block ml-20">
        <a class="btn header-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>

    </div>
}
else
{
    <form method="post" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <div class="header-right-btn f-right d-none d-lg-block ml-20">

            <button class="btn header-btn" style="background-color: mediumpurple; border-color:mediumpurple; padding: 15px 15px;">Logout</button>
        </div>
    </form>
    <div class="header-right-btn f-right d-none d-lg-block ml-20">
        <a class="btn header-btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
    </div>
}
