@model IEnumerable<Quest>



@{
    ViewData["Title"] = "Quest Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Quest Store</h1>
</div>
<partial name="_ItemThumbnail" model="Model" />




