@model IEnumerable<Quest>

@{
    ViewData["Title"] = "Quest Shop";
}

@section Home{
    <main>
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s">Gamification redefined</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Quest Shop</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">JUMP IN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero Man Img -->
                    <div class="hero-man" data-animation="fadeInUp">
                        <img src="/img/hero/hero_man1.png" alt="">
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s">Gamification redefined</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Quest Shop</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">JUMP IN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero Man Img -->
                    <div class="hero-man">
                        <img src="/img/hero/hero_man1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <partial name="_ItemThumbnail" model="Model" />
}




