@model IEnumerable<AppUser>

 

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Role</th>
            <th scope="col">Quests</th>
            <th scope="col">Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.Email</th>
                <td>@user.Orders</td>
                <td>@user.Quests</td>
                <td>@user.UserPoints</td>
            </tr>
        }

    </tbody>
</table>